# Git repository files
.git
.gitignore
.gitattributes

# Python artifacts
__pycache__
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Testing & Coverage
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
tests/

# Editor & IDE settings
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# Environment & local configs
.env
.env.*
server_config.json
logs/
*.log

# Media / temporary download data
/music
*.part
*.tmp
*.mp3
*.flac
*.opus
*.m4a
